body {
  background-image: url("images/background.jpeg");
}

.logo {
  margin-top: 20px;
  padding-left: 75px;
}

h1 {
  padding-top: 122px;
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 43px;
  font-weight: 500;
}
